@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/HelveticaNeue-HeavyCond.woff") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue";
  text-transform: uppercase;
  overflow: hidden;
  box-sizing: border-box;
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

#logo img {
  width: 80%;
}

@media screen and (max-width: 900px) {
  #logo img {
    width: 60%;
  }
}

#configurator {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(121, 121, 121, 0.455);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.252);
  z-index: 10;
  width: 80%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.101);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  #configurator {
    width: 100%;
    padding: 10px 0;
  }
}

.carousel-navigation .section-title {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0px;
  color: #000000;
  margin: 0;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease;
  width: 100%;
}

.customization-section {
  flex: 1 0 100%;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.carousel-navigation button {
  background-color: #f1f1f100;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}

.carousel-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 15px 0 30px 0;
  width: 40%;
}

@media screen and (max-width: 650px) {
  .carousel-navigation {
    width: 80%;
  }
}

.carousel-navigation button {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.color-options {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.color-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
  flex-shrink: 0;
}

.color-button:hover {
  border: 3px solid #ffffff3d;
}

.color-button:focus {
  border: 3px solid #3333333d;
}

.color-red {
  background-color: #ee4b2b;
}

.color-blue {
  background-color: #0047ab;
}

.color-green {
  background-color: #50c878;
}

.color-white {
  background-color: #ffffff;
}

.color-black {
  background-color: #000000;
}

.color-gray {
  background-color: #808080;
}

.color-brown {
  background-color: #8b4513;
}

.material-options {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
}

.material-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.3s ease;
  flex-shrink: 0;
  background-color: #fff; /* Aangezien we met iconen werken */
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

.material-button:hover {
  border: 3px solid #ffffff3d;
}

.material-button:focus {
  border: 3px solid #3333333d;
}

#rubber {
  background-image: url("/rubber-icon.png");
  background-size: cover;
}

.button-Finish {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-Finish:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logoPreviewContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* Zorg ervoor dat de preview boven de knop staat */
  align-items: center; /* Centreer het logo preview element */
  justify-content: center; /* Centreer de inhoud verticaal */
}

#logoPreview {
  width: 150px; /* Vergroot de preview indien nodig */
  height: auto;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px; /* Voeg wat ruimte toe onder de afbeelding */
}

#center-logo button {
  background-color: #363636; /* Groene knopkleur */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#center-logo button:hover {
  background-color: #2b2b2b; /* Donkerdere groene kleur op hover */
  scale: 1.02;
}

#center-logo input[type="file"] {
  color: transparent;
  text-align: center;
  width: 200px;
}

#center-logo input::file-selector-button {
  font-weight: 700;
  color: #fff;
  padding: 1rem 0rem;
  border: none;
  border-radius: 3px;
  width: 100%;
  background-color: #50c878;
  font-size: 1.2rem;
  cursor: pointer;
}
